streamlit==1.29.0
easyocr==1.7.1
pandas==2.1.3
Pillow==10.1.0
openpyxl==3.1.2
numpy==1.26.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cpu
torchvision==0.16.2+cpu
opencv-python-headless==4.8.0.74
python-bidi==0.4.2



